@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

body,body * {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

div.card {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 120px;
    border-radius: 4px;
    background-color: rgb(99, 25, 25);

    /*centre de contenu*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Ombre portée*/
    box-shadow: black 0px 8px 40px;
}

body {
    background-color: rgba(0, 89, 255, 0.26);
    font-family: 'Yaldevi', sans-serif;
}